:root {
  --lightgray: #F0F1EE;
  --orange: #F37207;
  --lightblue: #368F94;
  --darkblue: #054A58;
  --darkerblue: #072930;
}

.title {
  color: var(--orange);
  font-family: serif;
  font-style: italic;
}

.value {
  color: var(--darkerblue);
  font-size: 4vw;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: var(--lightgray);
  background: -moz-linear-gradient(
    -45deg,
    var(--lightgray) 0%,
    #73b1e7 24%,
    var(--darkblue) 50%,
    var(--lightblue) 79%,
    #87bcea 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    var(--lightgray) 0%,
    #73b1e7 24%,
    var(--darkblue) 50%,
    var(--lightblue) 79%,
    #87bcea 100%
  );
  background: linear-gradient(
    135deg,
    var(--lightgray) 0%,
    #73b1e7 24%,
    var(--darkblue) 50%,
    var(--lightblue) 79%,
    #87bcea 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 );
}
