.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr auto;
  grid-template-areas: 'place date humidity' 'temperatures temperatures cloudiness' 'moreInfo moreInfo moreInfo';
}

.humidity {
  grid-area: humidity;
}

.humidityIcon {
  grid-area: humidityIcon;
}

.humidityNumber {
  grid-area: humidityNumber;
}

.date {
  grid-area: date;
}

.dayName {
  grid-area: dayName;
}

.place {
  grid-area: place;
}

.city {
  color: var(--darkblue);
  font-size: 100px;
  font-weight: 900;
  grid-area: city;
}

.temperatures {
  color: var(--darkerblue);
  font-size: 100px;
  font-weight: 900;
  grid-area: temperatures;
}

.cloudiness {
  grid-area: cloudiness;
}

.moreInfo {
  grid-area: moreInfo;
}
