.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 1.5fr auto;
  grid-template-areas: 'place humidity date' 'sky temperatures temperatures' 'moreInfo moreInfo moreInfo';
}

.humidity {
  grid-area: humidity;
}

.humidityIcon {
  grid-area: humidityIcon;
}

.humidityNumber {
  grid-area: humidityNumber;
}

.date {
  grid-area: date;
  vertical-align: bottom;
  color: var(--lightblue);
}

.dayName {
  grid-area: dayName;
}

.place {
  grid-area: place;
}

.city {
  color: var(--darkblue);
  font-size: 3.5vw;
  font-weight: 900;
  grid-area: city;
  vertical-align: bottom;
  overflow: hidden;
}

.country {
  color: var(--lightblue);
  font-size: xx-large;
  font-weight: 400;
}

.temperatures {
  color: var(--orange);
  grid-area: temperatures;
}

.temperatures span {
  color: var(--darkerblue);
  font-size: 100px;
  font-weight: 900;
}

.temperatures b {
  color: var(--lightblue);
  font-size: 50px;
}

.sky {
  grid-area: cloudiness;
}

.moreInfo {
  grid-area: moreInfo;
}
