@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

#__next {
	height: 100%;
}

.searchInput {
  @apply w-full h-12 border-b-2 border-b-white py-2 px-5 text-xl outline-none bg-transparent text-white;
}
.searchInputQuery {
  @apply text-white placeholder-gray-400 text-xl;
}
.searchResults {
  @apply w-full bg-white text-left sm:mt-2 p-2 sm:drop-shadow-xl text-black;
}
.searchResultsItem {
  @apply cursor-pointer p-1.5 text-lg overflow-ellipsis overflow-hidden text-gray-700;
}
.searchResultsItemHover {
  @apply cursor-pointer p-1.5 text-lg overflow-ellipsis overflow-hidden text-slate-700 bg-gray-100;
}
.searchButton {
  @apply text-white absolute right-2.5 bottom-2.5 font-medium rounded-lg text-sm py-1 px-2 hover:scale-105 transition-transform duration-200 ease-in-out;
}
