.app {
  @apply sm:h-full md:p-8 sm:overflow-hidden bg-white;
}

.card {
  @apply w-full h-full grid grid-cols-12 bg-cover bg-center bg-no-repeat;
}

.card::after {
  content: '';
  grid-column: 1 / 13;
  grid-row: 1 / 7;
  background: rgba(0, 0, 0, 0.6);
}

.info {
  @apply mt-10 z-20 text-white lg:px-12 md:px-6 px-4;
}

.sidebar {
  grid-area: 1 / 10 / 2 / 13;
  @apply mt-10 z-10 text-white lg:px-12 md:px-6 px-4 sm:overflow-y-scroll;
}

.main {
  grid-area: 1 / 1 / 2 / 10;
  @apply z-10 text-white lg:px-5;
}

@media (max-width: 640px) {
  .sidebar {
    grid-area: 2 / 1 / 2 / 13;
  }
  .main {
    grid-area: 1 / 1 / 2 / 13;
  }
}

.mainContainer {
  @apply flex flex-col justify-between px-10 mt-8;
}

.titleContainer {
  @apply mt-10 z-10 text-lime-400;
}

.title {
  @apply md:text-6xl text-4xl text-center font-bold;
}

.caption {
  @apply md:text-3xl text-2xl text-center font-light;
}

/* WEATHER TYPES */
.clear-sky-day {
  background-image: url('/weather/clear-sky-day.jpg');
}

.clear-sky-night {
  background-image: url('/weather/clear-sky-night.jpg');
}

.clouds-day {
  background-image: url('/weather/clouds-day.jpg');
}

.clouds-night {
  background-image: url('/weather/clouds-night.jpg');
}

.rain {
  background-image: url('/weather/rain.jpg');
}

.thunderstorm {
  background-image: url('/weather/thunderstorm.jpg');
}

.snow {
  background-image: url('/weather/snow.jpg');
}

.mist {
  background-image: url('/weather/mist.jpg');
}
